:root {
  --primary-color: #8fbcbb;
  --secondary-color: #88c0d0;
  --font-color: #2e3440;
  --bg-color: #eceff4;
  --heading-color: #5e81ac;
}

[data-theme="dark"] {
  --primary-color: #bf616a;
  --secondary-color: #ebcb8b;
  --font-color: #d8dee9;
  --bg-color: #2e3440;
  --heading-color: #a3be8c;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  box-shadow: var(--secondary-color);
  padding: 20px;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

header {
  color: var(--heading-color);
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.input[type="checkbox"] {
  margin: right;
}

.container-footer {
  text-align: center;
}
.btn {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 25px;
  display: inline-block;
  font-size: 22px;
  padding: 14px 34px;
  margin: 16px 16px 16px 24px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button[disabled] {
  cursor: default;
  background-color: var(--bg-color);
}
